<strong>Parabens {{ student }}</strong>
<p>Você acaba de realizar a matricula na GymPoint no plano: {{ plan }}</p>
<p>O seu plano vencerá na data de: {{ endDateRegistration }}.</p>
<p>O valor total a ser pago é de: {{ priceRegistration }} reais.</p>
